@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'arail', 'microsoft yehei';
	font-size: 16px;
	padding: 0;
	margin: 0;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
	        transition: all .3s ease-in-out;
}

::-webkit-scrollbar{
		width: 5px;
		background-color: #e8e7e7;
}
::-webkit-scrollbar-thumb{
	background-color: #bfbdbb;
}
::-webkit-scrollbar-track-piece{
   border-left: 1px solid #d2d1d0;
}

body {
	background-color: #F5F5F5;
	overflow-x: hidde
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
